body {
  background-color: var(--background-base);
  color: var(--font-color);

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(14px, 1.2vw, 18px);
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

header {

}

.contents {

}

.wrap {

}